
$orange: rgba(232, 131, 58, 1);
$yellow: rgba(255, 199, 158, 1);
$teal: rgba(23, 103, 130, 1);
$gray-700: rgba(255, 255, 255, 1);
$black: rgba(255, 255, 255, 1);
$secondary: rgba(35, 129, 161, 1);
$success: rgba(143, 232, 166, 1);
$primary: rgba(23, 103, 130, 1);
$warning: rgba(255, 199, 158, 1);
$danger: rgba(236, 103, 7, 1);
$gray-600: rgba(235, 232, 239, 1);
$enable-gradients: true;
$gray-900: rgba(255, 255, 255, 1);
$gray-800: rgba(23, 103, 130, 1);
$enable-hover-media-query: true;
$enable-responsive-font-sizes: true;
$border-radius: 1.25rem;
$border-radius-lg: 1.25rem;
$border-radius-sm: 1.25rem;
$rounded-pill: 20rem;
$box-shadow-lg: 0 1rem 3rem rgba(23, 103, 130, 1);
$box-shadow: 0 .5rem 1rem rgba(23, 103, 130, 1);
$navbar-light-color: rgba($white, .5);
$navbar-light-hover-color: rgba($white, .7);
$navbar-light-active-color: rgba($white, .9);
$navbar-light-disabled-color: rgba($white, .3);
$navbar-light-toggler-border-color: rgba($white, .1);
$card-cap-bg: rgba($white, .03);
$card-border-color: rgba(23, 103, 130, 1);
$card-cap-color: rgba(255, 255, 255, 1);
$card-height: 100%;
$card-color: rgba(23, 103, 130, 0.52);
$card-group-margin: $grid-gutter-width / 3;
$gray-100: rgba(35, 129, 161, 0.6);